<div class="sct-container-fluid">
	<div class="sct-box s-header">
		<div class="sct-row">
			<a href="/" class="sct-col-4">
				<img src="./assets/images/schertech-logo.png" alt="">
			</a>
			<div class="sct-col-4 sct-text-center s-header-middle"><span class="s-color-blue"> Tst</span> <span class="s-color-yellow">V</span></div>
			<div class="sct-col-4 sct-text-right s-text-font sct-f-14">Test</div>
		</div>
	</div>
	<div class="s-main-content">
		<app-sidebar></app-sidebar>
		<div class="s-containt sct-box">
			<div class="sct-row">
				<div class="sct-col-12">
			     <router-outlet/>
				</div>
			</div>
		</div>
	</div>
</div>